<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="leave-meet.css">
    <title>Left page</title>
    <script>
        const meet_code = "<%= meet_code %>";
    </script>
    <style>
        body {
            text-align: center;
            margin-top: 10vh;
        }
        
        .text {
            font-size: xx-large;
        }
        
        .rejoin-form {
            margin-bottom: 1vh;
            margin-top: 2vh;
        }
    </style>
</head>

<body>
    <div class="main">
        <label class="text">You left the meeting.</label>
        <form class="rejoin-form" action="/<%= meet_code %>">
            <button class="btn btn-outline-primary">Rejoin</button>
        </form>
        <form class="return-form" action="/">
            <button class="btn btn-primary">Return to Home</button>
        </form>
    </div>
</body>

</html>