body {
    background-color: #2F303A;
}

#present_screen{
    width: 165vh;
    height: 50vh;
    /* transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg); */
}

#video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 25%);
    grid-auto-rows: 100%;
}

.bottom-nav {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    background-color: #111120;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

video {
    border-radius: 1.2vh;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg); */
}

.video-button {
    display: flex;
    flex-direction: column;
    margin-top: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
    align-items: center;
    cursor: pointer;
}
.present-screen-button {
    display: flex;
    flex-direction: column;
    margin-top: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
    align-items: center;
    cursor: pointer;
}
#videocam-off {
    color: rgb(255, 56, 56);
}

#videocam {
    color: #d8d1d1;
}

.video-button span {
    color: #d8d1d1;
}

#stop-presenting-icon {
    color: rgb(255, 56, 56);
}
#present-screen-icon {
    color: #d8d1d1;
}

.present-screen-button span {
    color: #d8d1d1;
}


.mic-button {
    display: flex;
    flex-direction: column;
    margin-top: 0.5%;
    margin-right: 1%;
    margin-bottom: 0.5%;
    align-items: center;
    cursor: pointer;
}

.mic-button span {
    color: #d8d1d1;
}

#mic-off {
    color: rgb(255, 56, 56);
}

#mic {
    color: #d8d1d1;
}

#leave-form {
    margin-top: 0.5%;
    margin-right: 1%;
    margin-bottom: 0.5%;
}

.leave-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: #111120;
    border: none;
}

#call-end {
    color: rgb(255, 56, 56);
}

.leave-button span {
    color: #d8d1d1;
}

.leave-icon {
    border-radius: 50%;
    font-size: 3.5vh;
    background-color: red;
}

.material-icons {
    font-size: 5vh;
}

.main {
    height: 100vh;
    display: flex;
}

.main__left {
    flex: 0.78;
    display: flex;
    flex-direction: column;
}

.main__right {
    border-radius: 1.2vh;
    background-color: white;
    flex: 0.22;
    height: 88vh;
    max-height: 88vh;
    margin-top: 0.5vh;
    margin-right: 0.5vh;
}

.main__header {
    padding-top: 0.5vh;
    text-align: center;
    height: 5vh;
}

.main__chat_window {
    overflow: auto;
    max-height: 76vh;
    height: 76vh;
    max-width: 45vh;
    width: 45vh;
    display: flex;
    flex-direction: column-reverse;
}

#messages {
    list-style-type: none;
    padding-left: 2.2vh;
}

#messages li{
    word-wrap: break-word;
}

.main__message_container {
    padding-left: 1vh;
    padding-right: 1vh;
    position: static;
    height: 2vh;
}

.main__message_container input {
    width: 85%;
    color: #F5F5F5;
    margin-right: 1vh;
    margin-left: 0.8vh;
    float: left;
}

.main__message_container i {
    font-size: 3.5vh;
    margin-top: 77vh;
    border: none;
}